<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755552346435-29qngm1slhvno767bofsiqbs32lm774p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755552346435-29qngm1slhvno767bofsiqbs32lm774p</string>
	<key>API_KEY</key>
	<string>AIzaSyBDk8VbbBC9_fBMiqFKFMBrFqqAlFHuSkU</string>
	<key>GCM_SENDER_ID</key>
	<string>755552346435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.animeniac.animeniac</string>
	<key>PROJECT_ID</key>
	<string>anemeniac</string>
	<key>STORAGE_BUCKET</key>
	<string>anemeniac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755552346435:ios:49aa2cfdf3b9ed1b40cff6</string>
</dict>
</plist>